
.full_width {
    width: 100%;
}


.full_height{
    height: 100%;
}

.my_1{
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}

.my_b_2{
    margin-bottom: 2rem;
}

.mx_1{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx_0{
    margin-left: 0;
    margin-right: 0;
}

.px_0{
    padding-left: 0;
    padding-right: 0;
}

.px_0.px_0{
    padding-left: 0;
    padding-right: 0;
}

.px_1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.m_1{
    margin: 0.5rem 0.5rem;
}

.p_1{
    padding: 0.5rem 0.5rem;
}

.scale_75{
    scale: 0.75;    
}

.my_0{
    margin-top: 0rem; 
    margin-bottom: 0rem;
}

.my_0.my_0{
    margin-top: 0rem; 
    margin-bottom: 0rem;
}

.hidden{
    display: none;
}

.float_right{
    float:right;
}

.flex_row{
    display: flex;
}

.padding_y_auto{
    padding-top: auto;  
    padding-bottom: auto;
}

.flex_row.centered{
    justify-content: center;
    align-items: center; 
}

.flex_row.space_between{
    justify-content: space-between;
    align-items: center; 
}

.overflow_y_scroll{
    overflow-y: scroll;
}

.relative{
    position:relative;
}

.absolute{
    position: absolute !important;
}

.fixed{
    position: fixed !important;
}

.truncate_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate_content{
    overflow: hidden;
}

.z_10{
    z-index: 10;
}
