
.panel{
    display: flex;
}

.panel p{
    margin-top: 0;
    margin-bottom: 0;

    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel .info{
    flex:1; 
}   

.panel .download{
    flex:0;
}